node-red/esp32-nodered
[{"id":"63a366e.6408998","type":"tab","label":"StepperEsp32","disabled":false,"info":""},{"id":"3dc45eb8.0651a2","type":"ui_slider","z":"63a366e.6408998","name":"Angle 0-360","label":"Angle 0-360","tooltip":"","group":"5c4e6afa.abda64","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"0","max":"360","step":"2","x":470,"y":320,"wires":[["4290c156.c2698"]]},{"id":"92d8b831.11a888","type":"ui_numeric","z":"63a366e.6408998","name":"Steps","label":"1/2 Steps (0-4076)","tooltip":"","group":"5c4e6afa.abda64","order":5,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":0,"max":"4076","step":"1","x":750,"y":320,"wires":[["ef43f62a.ae9e08"]]},{"id":"c94ba6cc.e4e418","type":"ui_dropdown","z":"63a366e.6408998","name":"Mode","label":"Mode","tooltip":"","place":"Continuous","group":"5c4e6afa.abda64","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Continuous","value":0,"type":"num"},{"label":"Increment","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":510,"y":240,"wires":[["7c1cdf7a.fb027"]]},{"id":"eeee916b.0c564","type":"ui_dropdown","z":"63a366e.6408998","name":"Speed(CW/CCW)","label":"Speed(CW/CCW)","tooltip":"","place":"","group":"5c4e6afa.abda64","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Full (CW)","value":4,"type":"num"},{"label":"Half (CW)","value":3,"type":"num"},{"label":"Stop","value":2,"type":"num"},{"label":"Half (CCW)","value":1,"type":"num"},{"label":"Full (CCW)","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":490,"y":160,"wires":[["7d7a0f38.dc042"]]},{"id":"3f649032.44046","type":"ui_numeric","z":"63a366e.6408998","name":"ESP32 Delay (ms)","label":"Delay (ms)","tooltip":"","group":"d6c82fab.cd2ab","order":22,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":"0.05","max":"2","step":"0.05","x":630,"y":20,"wires":[["5d0bffc1.ce1fa","37e6874b.cfc858"]]},{"id":"37e6874b.cfc858","type":"ui_slider","z":"63a366e.6408998","name":"ESP32 Delay (ms)","label":"Delay (ms)","tooltip":"","group":"d6c82fab.cd2ab","order":21,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0.05","max":"2","step":"0.05","x":410,"y":20,"wires":[["3f649032.44046"]]},{"id":"cdebfd50.4c38c","type":"mqtt out","z":"63a366e.6408998","name":"","topic":"nred2esp/stepperZCMD/controls","qos":"","retain":"","broker":"784f4d53.206ce4","x":1210,"y":220,"wires":[]},{"id":"ef43f62a.ae9e08","type":"change","z":"63a366e.6408998","name":"","rules":[{"t":"set","p":"m1step","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":320,"wires":[["52ddc2e1.98d41c"]]},{"id":"52ddc2e1.98d41c","type":"function","z":"63a366e.6408998","name":"","func":"var m1speed = flow.get('m1speed')  // use format below since js defines 0 as falsy\nvar m2speed = flow.get('m2speed')  // Otherwise when a 0 is sent it will revert to default value\nvar m1mode = flow.get('m1mode')\nvar m2mode = flow.get('m2mode')\nvar m1step = flow.get('m1step')\nvar m2step = flow.get('m2step')\nvar m1delay = flow.get('m1delay')\nvar m2delay = flow.get('m2delay')\nvar m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\nvar m1startstep = 0   // set to 0 for default so it doesn't try stepping\nvar m2startstep = 0\n\nif (typeof m1speed == \"undefined\") \nm1speed = 2;\nif (typeof m2speed == \"undefined\")\nm2speed = 2;\nif (typeof m1mode == \"undefined\")\nm1mode = 0;\nif (typeof m2mode == \"undefined\")\nm2mode = 0;\nif (typeof m1step == \"undefined\")\nm1step = 2038;\nif (typeof m2step == \"undefined\")\nm2step = 2038;\nif (typeof m1delay == \"undefined\")\nm1delay = 1.6;\nif (typeof m2delay == \"undefined\") // delay added for full step\nm2delay = 0.3;\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\n\nvar fields = {\n    delay:[m1delay, m2delay],\n    speed:[m1speed, m2speed],\n    mode:[m1mode, m2mode],\n    step:[m1step, m2step],\n    inverse:[m1inverse, m2inverse],\n    startstep:[m1startstep, m2startstep]\n};\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":220,"wires":[["cdebfd50.4c38c"]]},{"id":"5d0bffc1.ce1fa","type":"change","z":"63a366e.6408998","name":"Set half step delay","rules":[{"t":"set","p":"m1delay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":40,"wires":[["52ddc2e1.98d41c"]]},{"id":"bc5d3f67.59ae3","type":"inject","z":"63a366e.6408998","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"esp32/stepper","payload":"1","payloadType":"num","x":200,"y":20,"wires":[["37e6874b.cfc858"]]},{"id":"7d7a0f38.dc042","type":"change","z":"63a366e.6408998","name":"","rules":[{"t":"set","p":"m1speed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["52ddc2e1.98d41c"]]},{"id":"7c1cdf7a.fb027","type":"change","z":"63a366e.6408998","name":"","rules":[{"t":"set","p":"m1mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":240,"wires":[["52ddc2e1.98d41c"]]},{"id":"1037c023.91e9d","type":"ui_button","z":"63a366e.6408998","name":"","group":"5c4e6afa.abda64","order":6,"width":0,"height":0,"passthru":false,"label":"Step","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":590,"y":600,"wires":[["51bc9c7b.ddadc4"]]},{"id":"51bc9c7b.ddadc4","type":"change","z":"63a366e.6408998","name":"set flow.m1startstsep","rules":[{"t":"set","p":"m1startstep","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m1startstsep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":600,"wires":[["ce17981f.429d58"]]},{"id":"36d2a8ef.7cd618","type":"ui_slider","z":"63a366e.6408998","name":"Angle 0-360","label":"Angle 0-360","tooltip":"","group":"d7fbc41d.0bf098","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"0","max":"360","step":"2","x":470,"y":360,"wires":[["43d610ee.4f932"]]},{"id":"312978ad.5dd588","type":"ui_numeric","z":"63a366e.6408998","name":"Steps","label":"1/2 Steps (0-4076)","tooltip":"","group":"d7fbc41d.0bf098","order":5,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":0,"max":"4076","step":"1","x":750,"y":360,"wires":[["56300f48.5e7b1"]]},{"id":"d5833ba5.1c4ce8","type":"ui_dropdown","z":"63a366e.6408998","name":"Mode","label":"Mode","tooltip":"","place":"Continuous","group":"d7fbc41d.0bf098","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Continuous","value":0,"type":"num"},{"label":"Increment","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":510,"y":440,"wires":[["34e7508b.c2b"]]},{"id":"20691b8a.65eca4","type":"ui_dropdown","z":"63a366e.6408998","name":"Speed(CW/CCW)","label":"Speed(CW/CCW)","tooltip":"","place":"","group":"d7fbc41d.0bf098","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Full (CW)","value":4,"type":"num"},{"label":"Half (CW)","value":3,"type":"num"},{"label":"Stop","value":2,"type":"num"},{"label":"Half (CCW)","value":1,"type":"num"},{"label":"Full (CCW)","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":510,"y":520,"wires":[["27acaca4.c359f4"]]},{"id":"56300f48.5e7b1","type":"change","z":"63a366e.6408998","name":"","rules":[{"t":"set","p":"m2step","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":360,"wires":[["52ddc2e1.98d41c"]]},{"id":"27acaca4.c359f4","type":"change","z":"63a366e.6408998","name":"","rules":[{"t":"set","p":"m2speed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":520,"wires":[["52ddc2e1.98d41c"]]},{"id":"34e7508b.c2b","type":"change","z":"63a366e.6408998","name":"","rules":[{"t":"set","p":"m2mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":440,"wires":[["52ddc2e1.98d41c"]]},{"id":"9e1db71b.0e6778","type":"ui_button","z":"63a366e.6408998","name":"","group":"d7fbc41d.0bf098","order":6,"width":0,"height":0,"passthru":false,"label":"Step","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":590,"y":640,"wires":[["778f7fbb.740b6"]]},{"id":"778f7fbb.740b6","type":"change","z":"63a366e.6408998","name":"set flow.m2startstep","rules":[{"t":"set","p":"m2startstep","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m2startstep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":640,"wires":[["d5729d84.574a2"]]},{"id":"4290c156.c2698","type":"range","z":"63a366e.6408998","minin":"0","maxin":"360","minout":"0","maxout":"4076","action":"scale","round":true,"property":"payload","name":"","x":620,"y":320,"wires":[["92d8b831.11a888"]]},{"id":"43d610ee.4f932","type":"range","z":"63a366e.6408998","minin":"0","maxin":"360","minout":"0","maxout":"4076","action":"scale","round":true,"property":"payload","name":"","x":620,"y":360,"wires":[["312978ad.5dd588"]]},{"id":"54b2d8ac.936068","type":"mqtt out","z":"63a366e.6408998","name":"","topic":"nred2esp/stepperZCMD/controls","qos":"","retain":"","broker":"784f4d53.206ce4","x":1190,"y":640,"wires":[]},{"id":"d5729d84.574a2","type":"function","z":"63a366e.6408998","name":"","func":"var m1speed = flow.get('m1speed')  // use format below since js defines 0 as falsy\nvar m2speed = flow.get('m2speed')  // Otherwise when a 0 is sent it will revert to default value\nvar m1mode = flow.get('m1mode')    // instead of intended value of 0\nvar m2mode = flow.get('m2mode')\nvar m1step = flow.get('m1step')\nvar m2step = flow.get('m2step')\nvar m1delay = flow.get('m1delay')\nvar m2delay = flow.get('m2delay')\nvar m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\nvar m1startstep = 0\nvar m2startstep = flow.get('m2startstep')\n\nif (typeof m1speed == \"undefined\") \nm1speed = 2;\nif (typeof m2speed == \"undefined\")\nm2speed = 2;\nif (typeof m1mode == \"undefined\")\nm1mode = 0;\nif (typeof m2mode == \"undefined\")\nm2mode = 0;\nif (typeof m1step == \"undefined\")\nm1step = 2038;\nif (typeof m2step == \"undefined\")\nm2step = 2038;\nif (typeof m1delay == \"undefined\")\nm1delay = 1.6;\nif (typeof m2delay == \"undefined\") // delay added for full step\nm2delay = 0.3;\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\nif (typeof m2startstep == \"undefined\")\nm2startstep = 0;\n\nvar fields = {\n    delay:[m1delay, m2delay],\n    speed:[m1speed, m2speed],\n    mode:[m1mode, m2mode],\n    step:[m1step, m2step],\n    inverse:[m1inverse, m2inverse],\n    startstep:[m1startstep, m2startstep]\n};\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":640,"wires":[["54b2d8ac.936068"]]},{"id":"14ed3f2b.458861","type":"mqtt out","z":"63a366e.6408998","name":"","topic":"nred2esp/stepperZCMD/controls","qos":"","retain":"","broker":"784f4d53.206ce4","x":1190,"y":600,"wires":[]},{"id":"ce17981f.429d58","type":"function","z":"63a366e.6408998","name":"","func":"var m1speed = flow.get('m1speed')  // use format below since js defines 0 as falsy\nvar m2speed = flow.get('m2speed')  // Otherwise when a 0 is sent it will revert to default value\nvar m1mode = flow.get('m1mode')    // instead of intended value of 0\nvar m2mode = flow.get('m2mode')\nvar m1step = flow.get('m1step')\nvar m2step = flow.get('m2step')\nvar m1delay = flow.get('m1delay')\nvar m2delay = flow.get('m2delay')\nvar m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\nvar m1startstep = flow.get('m1startstep')\nvar m2startstep = 0\n\nif (typeof m1speed == \"undefined\") \nm1speed = 2;\nif (typeof m2speed == \"undefined\")\nm2speed = 2;\nif (typeof m1mode == \"undefined\")\nm1mode = 0;\nif (typeof m2mode == \"undefined\")\nm2mode = 0;\nif (typeof m1step == \"undefined\")\nm1step = 2038;\nif (typeof m2step == \"undefined\")\nm2step = 2038;\nif (typeof m1delay == \"undefined\")\nm1delay = 1.6;\nif (typeof m2delay == \"undefined\") // delay added for full step\nm2delay = 0.3;\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\nif (typeof m1startstep == \"undefined\")\nm1startstep = 0;\n\n\nvar fields = {\n    delay:[m1delay, m2delay],\n    speed:[m1speed, m2speed],\n    mode:[m1mode, m2mode],\n    step:[m1step, m2step],\n    inverse:[m1inverse, m2inverse],\n    startstep:[m1startstep, m2startstep]\n};\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":600,"wires":[["14ed3f2b.458861"]]},{"id":"4623c73a.6bf6b8","type":"ui_button","z":"63a366e.6408998","name":"ESP32 STOP","group":"d6c82fab.cd2ab","order":30,"width":2,"height":1,"passthru":false,"label":"ALL STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":280,"wires":[["5517ffba.f2b12"]]},{"id":"5517ffba.f2b12","type":"function","z":"63a366e.6408998","name":"","func":"var speed = 2;\nvar mode = 0;\nvar angle = 180;\nvar delay = 1.6;\nvar m1inverse = false;\nvar m2inverse = true;\nvar msgspeed = {payload:speed};\nvar msgmode  = {payload:mode};\nvar msgangle = {payload:angle};\nvar msgm1inverse = {payload:m1inverse};\nvar msgm2inverse = {payload:m2inverse};\n\nif (msg.payload == \"stop\") {\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }\nif (msg.payload == \"halfstepstart\") {\n    speed = 3;\n    msgspeed = {payload:speed};\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }\nif (msg.payload == \"fullstepstart\") {\n    speed = 4;\n    msgspeed = {payload:speed};\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }\nif (msg.payload == \"halfstepstartsync\") {\n    speed = 3;\n    m2inverse = false;\n    msgspeed = {payload:speed};\n    msgm2inverse = {payload:m2inverse};\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }\nif (msg.payload == \"fullstepstartsync\") {\n    speed = 4;\n    m2inverse = false;\n    msgspeed = {payload:speed};\n    msgm2inverse = {payload:m2inverse};\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }","outputs":5,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["eeee916b.0c564","20691b8a.65eca4"],["c94ba6cc.e4e418","d5833ba5.1c4ce8"],["3dc45eb8.0651a2","36d2a8ef.7cd618"],["fe188192.2b60a"],["17eafec6.2a5901"]]},{"id":"116d6405.a13cac","type":"ui_button","z":"63a366e.6408998","name":"ESP32 Half START","group":"d6c82fab.cd2ab","order":28,"width":2,"height":1,"passthru":false,"label":"START(H)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"halfstepstart","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":440,"wires":[["5517ffba.f2b12"]]},{"id":"f5a29c25.d4fb1","type":"ui_gauge","z":"63a366e.6408998","name":"","group":"5c4e6afa.abda64","order":7,"width":0,"height":0,"gtype":"compass","title":"esp32 M1","label":"degrees°","format":"{{payload[0].angle0f | number:0}}","min":"0","max":"360","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":660,"y":900,"wires":[]},{"id":"8464d710.54ba88","type":"function","z":"63a366e.6408998","name":"parse MQTT JSON str","func":"var pTopic  = msg.topic.split(\"/\");\nvar jsonObj   =JSON.parse(msg.payload);\nvar fields = {};\nvar tags = {host2host:pTopic[0], device:pTopic[1], thirdlvl:pTopic[2]};\nfor(var item in jsonObj){\n    if (item.endsWith('f')) {\n        fields[item] = parseFloat(jsonObj[item]);\n    }\n    if (item.endsWith('i')) {\n        fields[item] = parseInt(jsonObj[item]);\n    }\n}\n // use value map function to convert steps to 0-360 degrees\n // converted = ostart + (ostop - ostart) * ((value - istart) / (istop - istart))\n//fields['stepsi'] = Math.abs(0 + (360 - 0) * ((fields.stepsi - 0)/(4076 - 0)))\nfields['angle0f'] = Math.abs(0 + (360 - 0) * ((fields.steps0i - 0)/(4076 - 0)))\nfields['angle1f'] = Math.abs(0 + (360 - 0) * ((fields.steps1i - 0)/(4076 - 0)))\n\nmsg.payload = [\n    fields,\n    tags\n];\nreturn msg;\n\n/*\nif (fields['motori'] == 0) // For single motor data messages\n    return [msg, null];\nif (fields['motori'] == 1) // For single motor data messages\n    return [null, msg];\nif (fields['motor0i'] == 0) {   // For multiple motor data messages\n    var msg1 = {payload: fields.steps0i};\n    var msg2 = {payload: fields.steps1i};\n    return [msg1, msg2];\n    }\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":900,"wires":[["f5a29c25.d4fb1","7e0e14fc.5fce7c","456c526a.0ed6ac","74e371dc.e4524","903d90d4.a98f5","51cc4df7.379924","5c33df47.4b7ca","22952772.207a98","837a770d.632428"]]},{"id":"456c526a.0ed6ac","type":"ui_gauge","z":"63a366e.6408998","name":"","group":"d7fbc41d.0bf098","order":7,"width":0,"height":0,"gtype":"compass","title":"esp32 M2","label":"degrees°","format":"{{payload[0].angle1f | number:0}}","min":"0","max":"360","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":660,"y":940,"wires":[]},{"id":"7191bd61.c11f64","type":"ui_dropdown","z":"63a366e.6408998","name":"Status Increment","label":"Status Increment","tooltip":"","place":"Select option","group":"5c4e6afa.abda64","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"300/600 msg/rev","value":7,"type":"num"},{"label":"21/43 msg/rev","value":"97","type":"str"},{"label":"7/15 msg/rev","value":291,"type":"num"},{"label":"Small Increments Only (1k+ msg/rev)","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":490,"y":680,"wires":[["26ab11ad.84c0de"]]},{"id":"816f616b.a3b8a","type":"mqtt out","z":"63a366e.6408998","name":"","topic":"nred2esp/stepperZCMD/interval","qos":"","retain":"","broker":"784f4d53.206ce4","x":1150,"y":700,"wires":[]},{"id":"26ab11ad.84c0de","type":"change","z":"63a366e.6408998","name":"m1 step status increment","rules":[{"t":"set","p":"m1intv","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m1intv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":680,"wires":[["51822bed.3a8f54"]]},{"id":"51822bed.3a8f54","type":"function","z":"63a366e.6408998","name":"","func":"var m1intv = flow.get('m1intv') || 254;\nvar m2intv = flow.get('m2intv') || 254;\nvar fields = [m1intv,m2intv];\n    \nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":700,"wires":[["816f616b.a3b8a"]]},{"id":"ade649b5.f0aa98","type":"change","z":"63a366e.6408998","name":"m2 step status increment","rules":[{"t":"set","p":"m2intv","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m2intv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":720,"wires":[["51822bed.3a8f54"]]},{"id":"115945db.6959ea","type":"ui_dropdown","z":"63a366e.6408998","name":"Status Increment","label":"Status Increment","tooltip":"","place":"Select option","group":"d7fbc41d.0bf098","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"300/600 msg/rev","value":7,"type":"num"},{"label":"21/43 msg/rev","value":"97","type":"str"},{"label":"7/15 msg/rev","value":291,"type":"num"},{"label":"Small Increments Only (1k+ msg/rev)","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":490,"y":720,"wires":[["ade649b5.f0aa98"]]},{"id":"8fdb6667.388d38","type":"ui_button","z":"63a366e.6408998","name":"ESP32 RESET","group":"d6c82fab.cd2ab","order":31,"width":2,"height":1,"passthru":false,"label":"Reset Steps","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"resets","topicType":"str","x":800,"y":760,"wires":[["bdfc1a47.3ef118"]]},{"id":"bdfc1a47.3ef118","type":"mqtt out","z":"63a366e.6408998","name":"","topic":"nred2esp/stepperZCMD/stepreset","qos":"","retain":"","broker":"784f4d53.206ce4","x":1040,"y":760,"wires":[]},{"id":"e23b63a0.55d21","type":"mqtt in","z":"63a366e.6408998","name":"","topic":"esp2nred/nredZCMD/resetstepgauge","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":170,"y":960,"wires":[["16da527b.c215ae"]]},{"id":"fe188192.2b60a","type":"ui_dropdown","z":"63a366e.6408998","name":"Inverse Rotation","label":"Inverse Rotation","tooltip":"","place":"Continuous","group":"5c4e6afa.abda64","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Normal","value":false,"type":"bool"},{"label":"Inverse","value":true,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":520,"y":280,"wires":[["8f722549.2c7698"]]},{"id":"8f722549.2c7698","type":"change","z":"63a366e.6408998","name":"","rules":[{"t":"set","p":"m1inverse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":280,"wires":[["52ddc2e1.98d41c"]]},{"id":"fa39c316.ac84f","type":"change","z":"63a366e.6408998","name":"","rules":[{"t":"set","p":"m2inverse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":400,"wires":[["52ddc2e1.98d41c"]]},{"id":"17eafec6.2a5901","type":"ui_dropdown","z":"63a366e.6408998","name":"Inverse Rotation","label":"Inverse Rotation","tooltip":"","place":"Continuous","group":"d7fbc41d.0bf098","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Normal","value":false,"type":"bool"},{"label":"Inverse","value":true,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":520,"y":400,"wires":[["fa39c316.ac84f"]]},{"id":"c46d2653.b86da8","type":"inject","z":"63a366e.6408998","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"esp32/stepper","payload":"1","payloadType":"num","x":320,"y":120,"wires":[["a87a7606.f025a8"]]},{"id":"3260c1b6.f5408e","type":"function","z":"63a366e.6408998","name":"","func":"var m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\n\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\n\nflow.set(\"m1inverse\", !m1inverse)\nflow.set(\"m2inverse\", !m2inverse)\n\n// other methods if using a number\n//v = (v ? 0 : 1);\n//v = 1 - v;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":120,"wires":[["52ddc2e1.98d41c"]]},{"id":"1042ff94.bafa9","type":"mqtt in","z":"63a366e.6408998","name":"","topic":"esp2nred/stepperZDATA/motordata","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":160,"y":900,"wires":[["8464d710.54ba88"]]},{"id":"1113c0e2.13191f","type":"ui_text","z":"63a366e.6408998","group":"d6c82fab.cd2ab","order":19,"width":4,"height":1,"name":"ESP32 GLOBAL","label":"ESP32 GLOBAL","format":"{{msg.payload}}","layout":"col-center","x":250,"y":620,"wires":[]},{"id":"a87a7606.f025a8","type":"ui_switch","z":"63a366e.6408998","name":"ESP32 INVERSE","label":"Inverse m1/m2 rot","tooltip":"","group":"d6c82fab.cd2ab","order":32,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":570,"y":120,"wires":[["3260c1b6.f5408e"]]},{"id":"7e0e14fc.5fce7c","type":"ui_text","z":"63a366e.6408998","group":"5c4e6afa.abda64","order":9,"width":0,"height":0,"name":"","label":"RPM","format":"{{payload[0].rpm0f | number:0}}","layout":"row-spread","x":790,"y":900,"wires":[]},{"id":"74e371dc.e4524","type":"ui_text","z":"63a366e.6408998","group":"d7fbc41d.0bf098","order":9,"width":0,"height":0,"name":"","label":"RPM","format":"{{payload[0].rpm1f | number:0}}","layout":"row-spread","x":790,"y":940,"wires":[]},{"id":"20db1947.c94456","type":"ui_chart","z":"63a366e.6408998","name":"","group":"5c4e6afa.abda64","order":10,"width":0,"height":0,"label":"Loop time (ms)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loop time (ms)","dot":false,"ymin":"0","ymax":"2.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":880,"y":860,"wires":[[]]},{"id":"903d90d4.a98f5","type":"change","z":"63a366e.6408998","name":"payload[0].looptime0f","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].looptime0f","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":860,"wires":[["20db1947.c94456"]]},{"id":"51cc4df7.379924","type":"change","z":"63a366e.6408998","name":"payload[0].looptime1f","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].looptime1f","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":980,"wires":[["cef9b7da.2a25d8"]]},{"id":"cef9b7da.2a25d8","type":"ui_chart","z":"63a366e.6408998","name":"","group":"d7fbc41d.0bf098","order":10,"width":0,"height":0,"label":"Loop time (ms)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loop time (ms)","dot":false,"ymin":"0","ymax":"2.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":860,"y":980,"wires":[[]]},{"id":"70e09928.360258","type":"ui_button","z":"63a366e.6408998","name":"ESP32 Full START","group":"d6c82fab.cd2ab","order":29,"width":2,"height":1,"passthru":false,"label":"START(F)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fullstepstart","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":480,"wires":[["5517ffba.f2b12"]]},{"id":"30a1ed43.8326f2","type":"ui_button","z":"63a366e.6408998","name":"ESP32 Half START sync","group":"d6c82fab.cd2ab","order":26,"width":2,"height":1,"passthru":false,"label":"START(H)-S","tooltip":"","color":"","bgcolor":"","icon":"","payload":"halfstepstartsync","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":520,"wires":[["5517ffba.f2b12"]]},{"id":"a1c4f761.018468","type":"ui_button","z":"63a366e.6408998","name":"ESP32 Full START sync","group":"d6c82fab.cd2ab","order":27,"width":2,"height":1,"passthru":false,"label":"START(F)-S","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fullstepstartsync","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":560,"wires":[["5517ffba.f2b12"]]},{"id":"5c33df47.4b7ca","type":"ui_text","z":"63a366e.6408998","group":"d6c82fab.cd2ab","order":20,"width":4,"height":1,"name":"Freq MHz","label":"MHz","format":"{{payload[0].cpufreqi}}","layout":"row-right","x":600,"y":1060,"wires":[]},{"id":"22952772.207a98","type":"influxdb out","z":"63a366e.6408998","influxdb":"3e3327aa.370598","name":"","measurement":"testing","precision":"","retentionPolicy":"","database":"stepper","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":670,"y":1100,"wires":[]},{"id":"16da527b.c215ae","type":"function","z":"63a366e.6408998","name":"","func":"var fields = {}\nmsg.payload = [fields];\nmsg.payload[0].steps0i = 0;\nmsg.payload[0].steps1i = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":960,"wires":[["f5a29c25.d4fb1","456c526a.0ed6ac"]]},{"id":"acdb3d39.0d94a","type":"join","z":"63a366e.6408998","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":160,"y":200,"wires":[[]]},{"id":"1f8cdb4f.c3c5b5","type":"split","z":"63a366e.6408998","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":100,"y":140,"wires":[[]]},{"id":"e4b7bc8c.3b7e8","type":"ui_numeric","z":"63a366e.6408998","name":"ESP32 Fstep Delay (ms)","label":"(+Full)","tooltip":"","group":"d6c82fab.cd2ab","order":24,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":"0","max":".5","step":"0.05","x":550,"y":80,"wires":[["8e81579b.295458"]]},{"id":"8e81579b.295458","type":"change","z":"63a366e.6408998","name":"Set addtnl full step delay","rules":[{"t":"set","p":"m2delay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":80,"wires":[["52ddc2e1.98d41c"]]},{"id":"837a770d.632428","type":"change","z":"63a366e.6408998","name":"payload[0].main_msf","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].main_msf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":820,"wires":[["768b6c0f.cc33c4"]]},{"id":"768b6c0f.cc33c4","type":"ui_chart","z":"63a366e.6408998","name":"esp32 main (ms)","group":"d6c82fab.cd2ab","order":17,"width":8,"height":3,"label":"esp32 Entire Loop (ms)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loop time (ms)","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":820,"wires":[[]]},{"id":"5c4e6afa.abda64","type":"ui_group","name":"esp32 M1","tab":"12ee3069.5df0a","order":5,"disp":true,"width":"6","collapse":false},{"id":"d6c82fab.cd2ab","type":"ui_group","name":"Global","tab":"12ee3069.5df0a","order":1,"disp":true,"width":8,"collapse":false},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d7fbc41d.0bf098","type":"ui_group","name":"esp32 M2","tab":"12ee3069.5df0a","order":6,"disp":true,"width":"6","collapse":false},{"id":"3e3327aa.370598","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"rpimonitor","name":"","usetls":false,"tls":"5a1ed586.fc57cc","influxdbVersion":"1.8-flux","url":"http://localhost:8086/","rejectUnauthorized":true},{"id":"12ee3069.5df0a","type":"ui_tab","name":"Stepper Motor","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"5a1ed586.fc57cc","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]
