node-red/rpi-nodered
[{"id":"593bc01e.e320e","type":"tab","label":"Stepper-Motor","disabled":false,"info":""},{"id":"3e862530.cbf35a","type":"ui_slider","z":"593bc01e.e320e","name":"Angle 0-360","label":"Angle 0-360","tooltip":"","group":"349512a4.52909e","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"0","max":"360","step":"2","x":410,"y":340,"wires":[["83aa00cf.7312e"]]},{"id":"ecc32b51.799978","type":"ui_numeric","z":"593bc01e.e320e","name":"Steps","label":"1/2 Steps (0-4076)","tooltip":"","group":"349512a4.52909e","order":5,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":0,"max":"4076","step":"1","x":690,"y":340,"wires":[["3521746c.585a5c"]]},{"id":"58e5f0b3.84f35","type":"ui_dropdown","z":"593bc01e.e320e","name":"Mode","label":"Mode","tooltip":"","place":"Continuous","group":"349512a4.52909e","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Continuous","value":0,"type":"num"},{"label":"Increment","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":450,"y":260,"wires":[["b2d7fddf.1472b"]]},{"id":"5d39e8f6.ead348","type":"ui_dropdown","z":"593bc01e.e320e","name":"Speed(CW/CCW)","label":"Speed(CW/CCW)","tooltip":"","place":"","group":"349512a4.52909e","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Full (CW)","value":4,"type":"num"},{"label":"Half (CW)","value":3,"type":"num"},{"label":"Stop","value":2,"type":"num"},{"label":"Half (CCW)","value":1,"type":"num"},{"label":"Full (CCW)","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":430,"y":180,"wires":[["9e005b8f.2e5df8"]]},{"id":"17bac27c.5a8a1e","type":"ui_slider","z":"593bc01e.e320e","name":"RPI Delay (ms)","label":"Delay (ms)","tooltip":"","group":"d6c82fab.cd2ab","order":3,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0.1","max":"4","step":"0.05","x":460,"y":20,"wires":[["4a111133.51542"]]},{"id":"3d2a0a1f.0a06b6","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"nred2pi/stepperZCMD/controls","qos":"","retain":"","broker":"784f4d53.206ce4","x":1150,"y":240,"wires":[]},{"id":"3521746c.585a5c","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m1step","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":340,"wires":[["caab891a.66bae8"]]},{"id":"caab891a.66bae8","type":"function","z":"593bc01e.e320e","name":"","func":"var m1speed = flow.get('m1speed')  // use format below since js defines 0 as falsy\nvar m2speed = flow.get('m2speed')  // Otherwise when a 0 is sent it will revert to default value\nvar m1mode = flow.get('m1mode')\nvar m2mode = flow.get('m2mode')\nvar m1step = flow.get('m1step')\nvar m2step = flow.get('m2step')\nvar m1delay = flow.get('m1delay')\nvar m2delay = flow.get('m2delay')\nvar m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\nvar m1startstep = 0   // set to 0 for default so it doesn't try stepping\nvar m2startstep = 0\n\nif (typeof m1speed == \"undefined\") \nm1speed = 2;\nif (typeof m2speed == \"undefined\")\nm2speed = 2;\nif (typeof m1mode == \"undefined\")\nm1mode = 0;\nif (typeof m2mode == \"undefined\")\nm2mode = 0;\nif (typeof m1step == \"undefined\")\nm1step = 2038;\nif (typeof m2step == \"undefined\")\nm2step = 2038;\nif (typeof m1delay == \"undefined\")\nm1delay = 1.6;\nif (typeof m2delay == \"undefined\")\nm2delay = 1.0;\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\n\nvar fields = {\n    delay:[m1delay, m2delay],\n    speed:[m1speed, m2speed],\n    mode:[m1mode, m2mode],\n    step:[m1step, m2step],\n    inverse:[m1inverse, m2inverse],\n    startstep:[m1startstep, m2startstep]\n};\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":240,"wires":[["3d2a0a1f.0a06b6"]]},{"id":"c0bb9ba6.eab978","type":"change","z":"593bc01e.e320e","name":"Set Global delay","rules":[{"t":"set","p":"m1delay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":20,"wires":[["caab891a.66bae8"]]},{"id":"2cf46c72.ea86e4","type":"inject","z":"593bc01e.e320e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pi/stepper","payload":"1","payloadType":"num","x":290,"y":20,"wires":[["17bac27c.5a8a1e"]]},{"id":"9e005b8f.2e5df8","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m1speed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":180,"wires":[["caab891a.66bae8"]]},{"id":"b2d7fddf.1472b","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m1mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":260,"wires":[["caab891a.66bae8"]]},{"id":"fad5a171.1dda7","type":"ui_button","z":"593bc01e.e320e","name":"","group":"349512a4.52909e","order":6,"width":0,"height":0,"passthru":false,"label":"Step","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":620,"wires":[["215fa830.df4b48"]]},{"id":"215fa830.df4b48","type":"change","z":"593bc01e.e320e","name":"set flow.m1startstsep","rules":[{"t":"set","p":"m1startstep","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m1startstsep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":620,"wires":[["e28093ce.7b7f8"]]},{"id":"303a6251.bffd5e","type":"ui_slider","z":"593bc01e.e320e","name":"Angle 0-360","label":"Angle 0-360","tooltip":"","group":"2911d465.c81c6c","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"0","max":"360","step":"2","x":410,"y":380,"wires":[["75dacaf4.892254"]]},{"id":"4d21f126.cbf1","type":"ui_numeric","z":"593bc01e.e320e","name":"Steps","label":"1/2 Steps (0-4076)","tooltip":"","group":"2911d465.c81c6c","order":5,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":0,"max":"4076","step":"1","x":690,"y":380,"wires":[["f7f8582a.bcd218"]]},{"id":"d9e7bb4a.1e4588","type":"ui_dropdown","z":"593bc01e.e320e","name":"Mode","label":"Mode","tooltip":"","place":"Continuous","group":"2911d465.c81c6c","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Continuous","value":0,"type":"num"},{"label":"Increment","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":450,"y":460,"wires":[["6b162a20.815f74"]]},{"id":"809aa629.38b178","type":"ui_dropdown","z":"593bc01e.e320e","name":"Speed(CW/CCW)","label":"Speed(CW/CCW)","tooltip":"","place":"","group":"2911d465.c81c6c","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Full (CW)","value":4,"type":"num"},{"label":"Half (CW)","value":3,"type":"num"},{"label":"Stop","value":2,"type":"num"},{"label":"Half (CCW)","value":1,"type":"num"},{"label":"Full (CCW)","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":450,"y":540,"wires":[["14a95466.85325c"]]},{"id":"f7f8582a.bcd218","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m2step","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":380,"wires":[["caab891a.66bae8"]]},{"id":"14a95466.85325c","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m2speed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":540,"wires":[["caab891a.66bae8"]]},{"id":"6b162a20.815f74","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m2mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["caab891a.66bae8"]]},{"id":"652f7c35.bb4b94","type":"ui_button","z":"593bc01e.e320e","name":"","group":"2911d465.c81c6c","order":6,"width":0,"height":0,"passthru":false,"label":"Step","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":700,"wires":[["1336323b.0b8fee"]]},{"id":"1336323b.0b8fee","type":"change","z":"593bc01e.e320e","name":"set flow.m2startstep","rules":[{"t":"set","p":"m2startstep","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m2startstep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":700,"wires":[["8be4d580.a45c58"]]},{"id":"83aa00cf.7312e","type":"range","z":"593bc01e.e320e","minin":"0","maxin":"360","minout":"0","maxout":"4076","action":"scale","round":true,"property":"payload","name":"","x":560,"y":340,"wires":[["ecc32b51.799978"]]},{"id":"75dacaf4.892254","type":"range","z":"593bc01e.e320e","minin":"0","maxin":"360","minout":"0","maxout":"4076","action":"scale","round":true,"property":"payload","name":"","x":560,"y":380,"wires":[["4d21f126.cbf1"]]},{"id":"c9baf555.ce68a8","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"nred2pi/stepperZCMD/controls","qos":"","retain":"","broker":"784f4d53.206ce4","x":1130,"y":700,"wires":[]},{"id":"8be4d580.a45c58","type":"function","z":"593bc01e.e320e","name":"","func":"var m1speed = flow.get('m1speed')  // use format below since js defines 0 as falsy\nvar m2speed = flow.get('m2speed')  // Otherwise when a 0 is sent it will revert to default value\nvar m1mode = flow.get('m1mode')    // instead of intended value of 0\nvar m2mode = flow.get('m2mode')\nvar m1step = flow.get('m1step')\nvar m2step = flow.get('m2step')\nvar m1delay = flow.get('m1delay')\nvar m2delay = flow.get('m2delay')\nvar m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\nvar m1startstep = 0\nvar m2startstep = flow.get('m2startstep')\n\nif (typeof m1speed == \"undefined\") \nm1speed = 2;\nif (typeof m2speed == \"undefined\")\nm2speed = 2;\nif (typeof m1mode == \"undefined\")\nm1mode = 0;\nif (typeof m2mode == \"undefined\")\nm2mode = 0;\nif (typeof m1step == \"undefined\")\nm1step = 2038;\nif (typeof m2step == \"undefined\")\nm2step = 2038;\nif (typeof m1delay == \"undefined\")\nm1delay = 1.6;\nif (typeof m2delay == \"undefined\")\nm2delay = 1.0;\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\nif (typeof m2startstep == \"undefined\")\nm2startstep = 0;\n\nvar fields = {\n    delay:[m1delay, m2delay],\n    speed:[m1speed, m2speed],\n    mode:[m1mode, m2mode],\n    step:[m1step, m2step],\n    inverse:[m1inverse, m2inverse],\n    startstep:[m1startstep, m2startstep]\n};\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":700,"wires":[["c9baf555.ce68a8"]]},{"id":"7af0b559.73f4ec","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"nred2pi/stepperZCMD/controls","qos":"","retain":"","broker":"784f4d53.206ce4","x":1130,"y":620,"wires":[]},{"id":"e28093ce.7b7f8","type":"function","z":"593bc01e.e320e","name":"","func":"var m1speed = flow.get('m1speed')  // use format below since js defines 0 as falsy\nvar m2speed = flow.get('m2speed')  // Otherwise when a 0 is sent it will revert to default value\nvar m1mode = flow.get('m1mode')    // instead of intended value of 0\nvar m2mode = flow.get('m2mode')\nvar m1step = flow.get('m1step')\nvar m2step = flow.get('m2step')\nvar m1delay = flow.get('m1delay')\nvar m2delay = flow.get('m2delay')\nvar m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\nvar m1startstep = flow.get('m1startstep')\nvar m2startstep = 0\n\nif (typeof m1speed == \"undefined\") \nm1speed = 2;\nif (typeof m2speed == \"undefined\")\nm2speed = 2;\nif (typeof m1mode == \"undefined\")\nm1mode = 0;\nif (typeof m2mode == \"undefined\")\nm2mode = 0;\nif (typeof m1step == \"undefined\")\nm1step = 2038;\nif (typeof m2step == \"undefined\")\nm2step = 2038;\nif (typeof m1delay == \"undefined\")\nm1delay = 1.6;\nif (typeof m2delay == \"undefined\")\nm2delay = 1.0;\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\nif (typeof m1startstep == \"undefined\")\nm1startstep = 0;\n\n\nvar fields = {\n    delay:[m1delay, m2delay],\n    speed:[m1speed, m2speed],\n    mode:[m1mode, m2mode],\n    step:[m1step, m2step],\n    inverse:[m1inverse, m2inverse],\n    startstep:[m1startstep, m2startstep]\n};\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":620,"wires":[["7af0b559.73f4ec"]]},{"id":"bf548f70.f5c27","type":"ui_button","z":"593bc01e.e320e","name":"RPI STOP","group":"d6c82fab.cd2ab","order":11,"width":2,"height":1,"passthru":false,"label":"ALL STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":300,"wires":[["704c760c.65f118"]]},{"id":"704c760c.65f118","type":"function","z":"593bc01e.e320e","name":"","func":"var speed = 2;\nvar mode = 0;\nvar angle = 180;\nvar delay = 1.2;\nvar m1inverse = false;\nvar m2inverse = true;\nvar msgspeed = {payload:speed};\nvar msgmode  = {payload:mode};\nvar msgangle = {payload:angle};\nvar msgm1inverse = {payload:m1inverse};\nvar msgm2inverse = {payload:m2inverse};\n\nif (msg.payload == \"stop\") {\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }\nif (msg.payload == \"halfstepstart\") {\n    speed = 3;\n    msgspeed = {payload:speed};\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }\nif (msg.payload == \"fullstepstart\") {\n    speed = 4;\n    msgspeed = {payload:speed};\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }\nif (msg.payload == \"halfstepstartsync\") {\n    speed = 3;\n    m2inverse = false;\n    msgspeed = {payload:speed};\n    msgm2inverse = {payload:m2inverse};\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }\nif (msg.payload == \"fullstepstartsync\") {\n    speed = 4;\n    m2inverse = false;\n    msgspeed = {payload:speed};\n    msgm2inverse = {payload:m2inverse};\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }","outputs":5,"noerr":0,"initialize":"","finalize":"","x":220,"y":380,"wires":[["5d39e8f6.ead348","809aa629.38b178"],["58e5f0b3.84f35","d9e7bb4a.1e4588"],["3e862530.cbf35a","303a6251.bffd5e"],["5ed4d364.f4d1ec"],["8ba582a.f08ca8"]]},{"id":"addf1037.6c0ae","type":"ui_dropdown","z":"593bc01e.e320e","name":"Status Increment","label":"Status Increment","tooltip":"","place":"Select option","group":"349512a4.52909e","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"300/600 msg/rev","value":7,"type":"num"},{"label":"21/43 msg/rev","value":"97","type":"str"},{"label":"7/15 msg/rev","value":291,"type":"num"},{"label":"Small Increments Only (1k+ msg/rev)","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":190,"y":780,"wires":[["20177bb0.127d54"]]},{"id":"4ccc80c6.9c9f2","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"nred2pi/stepperZCMD/interval","qos":"","retain":"","broker":"784f4d53.206ce4","x":850,"y":800,"wires":[]},{"id":"20177bb0.127d54","type":"change","z":"593bc01e.e320e","name":"m1 step status increment","rules":[{"t":"set","p":"m1intv","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m1intv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":780,"wires":[["e8cf5d0d.730a6"]]},{"id":"e8cf5d0d.730a6","type":"function","z":"593bc01e.e320e","name":"","func":"var m1intv = flow.get('m1intv') || 254;\nvar m2intv = flow.get('m2intv') || 254;\nvar fields = [m1intv,m2intv];\n    \nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":800,"wires":[["4ccc80c6.9c9f2"]]},{"id":"681b8590.a19b8c","type":"change","z":"593bc01e.e320e","name":"m2 step status increment","rules":[{"t":"set","p":"m2intv","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m2intv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":820,"wires":[["e8cf5d0d.730a6"]]},{"id":"d84cacbc.ff608","type":"ui_dropdown","z":"593bc01e.e320e","name":"Status Increment","label":"Status Increment","tooltip":"","place":"Select option","group":"2911d465.c81c6c","order":8,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"300/600 msg/rev","value":7,"type":"num"},{"label":"21/43 msg/rev","value":"97","type":"str"},{"label":"7/15 msg/rev","value":291,"type":"num"},{"label":"Small Increments Only (1k+ msg/rev)","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":190,"y":820,"wires":[["681b8590.a19b8c"]]},{"id":"a0e3ba08.a04a48","type":"ui_button","z":"593bc01e.e320e","name":"RPI RESET","group":"d6c82fab.cd2ab","order":12,"width":2,"height":1,"passthru":false,"label":"Reset Steps","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"resets","topicType":"str","x":750,"y":860,"wires":[["b133b9fa.b36c38"]]},{"id":"b133b9fa.b36c38","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"nred2pi/stepperZCMD/stepreset","qos":"","retain":"","broker":"784f4d53.206ce4","x":1050,"y":860,"wires":[]},{"id":"5ed4d364.f4d1ec","type":"ui_dropdown","z":"593bc01e.e320e","name":"Inverse Rotation","label":"Inverse Rotation","tooltip":"","place":"Continuous","group":"349512a4.52909e","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Normal","value":false,"type":"bool"},{"label":"Inverse","value":true,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":460,"y":300,"wires":[["8878b969.12db08"]]},{"id":"8878b969.12db08","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m1inverse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["caab891a.66bae8"]]},{"id":"9c37211e.4d57b","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m2inverse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[["caab891a.66bae8"]]},{"id":"8ba582a.f08ca8","type":"ui_dropdown","z":"593bc01e.e320e","name":"Inverse Rotation","label":"Inverse Rotation","tooltip":"","place":"Continuous","group":"2911d465.c81c6c","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Normal","value":false,"type":"bool"},{"label":"Inverse","value":true,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":460,"y":420,"wires":[["9c37211e.4d57b"]]},{"id":"1cbd682.2066198","type":"inject","z":"593bc01e.e320e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pi/stepper","payload":"1","payloadType":"num","x":310,"y":120,"wires":[["b1478ff8.5baa"]]},{"id":"64d64538.27c42c","type":"function","z":"593bc01e.e320e","name":"","func":"var m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\n\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\n\nflow.set(\"m1inverse\", !m1inverse)\nflow.set(\"m2inverse\", !m2inverse)\n\n// other methods if using a number\n//v = (v ? 0 : 1);\n//v = 1 - v;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":120,"wires":[["caab891a.66bae8"]]},{"id":"b1478ff8.5baa","type":"ui_switch","z":"593bc01e.e320e","name":"RPI INVERSE","label":"Inverse m1/m2 rot","tooltip":"","group":"d6c82fab.cd2ab","order":13,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":540,"y":120,"wires":[["64d64538.27c42c"]]},{"id":"b61e5db0.2f8bc","type":"ui_text","z":"593bc01e.e320e","group":"d6c82fab.cd2ab","order":1,"width":4,"height":1,"name":"RPi GLOBAL","label":"RPi GLOBAL","format":"{{msg.payload}}","layout":"col-center","x":90,"y":260,"wires":[]},{"id":"58e2c42a.adc75c","type":"ui_gauge","z":"593bc01e.e320e","name":"","group":"349512a4.52909e","order":7,"width":0,"height":0,"gtype":"compass","title":"RPi M1","label":"degrees°","format":"{{payload[0].angle0f | number:0}}","min":"0","max":"360","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":740,"y":1000,"wires":[]},{"id":"68516b14.854f44","type":"function","z":"593bc01e.e320e","name":"parse MQTT JSON str","func":"var pTopic  = msg.topic.split(\"/\");\nvar jsonObj   =JSON.parse(msg.payload);\nvar fields = {};\nvar tags = {host2host:pTopic[0], device:pTopic[1], thirdlvl:pTopic[2]};\nfor(var item in jsonObj){\n    if (item.endsWith('f')) {\n        fields[item] = parseFloat(jsonObj[item]);\n    }\n    if (item.endsWith('i')) {\n        fields[item] = parseInt(jsonObj[item]);\n    }\n}\n // use value map function to convert steps to 0-360 degrees\n // converted = ostart + (ostop - ostart) * ((value - istart) / (istop - istart))\n//fields['stepsi'] = Math.abs(0 + (360 - 0) * ((fields.stepsi - 0)/(4076 - 0)))\nfields['angle0f'] = Math.abs(0 + (360 - 0) * ((fields.steps0i - 0)/(4076 - 0)))\nfields['angle1f'] = Math.abs(0 + (360 - 0) * ((fields.steps1i - 0)/(4076 - 0)))\n\nmsg.payload = [\n    fields,\n    tags\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":1000,"wires":[["58e2c42a.adc75c","c8a09eff.f23ed","df2cc1df.5fc08","8d5b2b36.21a498","e1469758.f934e8","d35fc3e5.00666","f3eb2cd0.10c42","b41c85ed.874d18","43035853.61e0e8","4ce1e1ea.e2764"]]},{"id":"df2cc1df.5fc08","type":"ui_gauge","z":"593bc01e.e320e","name":"","group":"2911d465.c81c6c","order":7,"width":0,"height":0,"gtype":"compass","title":"RPi M2","label":"degrees°","format":"{{payload[0].angle1f | number:0}}","min":"0","max":"360","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":740,"y":1040,"wires":[]},{"id":"c8a09eff.f23ed","type":"ui_text","z":"593bc01e.e320e","group":"349512a4.52909e","order":9,"width":0,"height":0,"name":"","label":"RPM","format":"{{payload[0].rpm0f | number:0}}","layout":"row-spread","x":890,"y":1000,"wires":[]},{"id":"8d5b2b36.21a498","type":"ui_text","z":"593bc01e.e320e","group":"2911d465.c81c6c","order":9,"width":0,"height":0,"name":"","label":"RPM","format":"{{payload[0].rpm1f | number:0}}","layout":"row-spread","x":890,"y":1040,"wires":[]},{"id":"c070a70b.55ef88","type":"ui_chart","z":"593bc01e.e320e","name":"","group":"349512a4.52909e","order":10,"width":0,"height":0,"label":"Loop time (ms)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loop time (ms)","dot":false,"ymin":"0","ymax":"2.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":960,"wires":[[]]},{"id":"e1469758.f934e8","type":"change","z":"593bc01e.e320e","name":"payload[0].looptime0f","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].looptime0f","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":960,"wires":[["c070a70b.55ef88"]]},{"id":"d35fc3e5.00666","type":"change","z":"593bc01e.e320e","name":"payload[0].looptime1f","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].looptime1f","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1080,"wires":[["2a830a32.0a0c56"]]},{"id":"2a830a32.0a0c56","type":"ui_chart","z":"593bc01e.e320e","name":"","group":"2911d465.c81c6c","order":10,"width":0,"height":0,"label":"Loop time (ms)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loop time (ms)","dot":false,"ymin":"0","ymax":"2.5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":980,"y":1080,"wires":[[]]},{"id":"f3eb2cd0.10c42","type":"influxdb out","z":"593bc01e.e320e","influxdb":"3e3327aa.370598","name":"","measurement":"testing","precision":"","retentionPolicy":"","database":"stepper","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":790,"y":1220,"wires":[]},{"id":"b41c85ed.874d18","type":"debug","z":"593bc01e.e320e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":1140,"wires":[]},{"id":"43035853.61e0e8","type":"ui_text","z":"593bc01e.e320e","group":"d6c82fab.cd2ab","order":2,"width":4,"height":1,"name":"RPi Freq MHz","label":"MHz","format":"{{payload[0].cpufreqi}}","layout":"row-right","x":700,"y":1140,"wires":[]},{"id":"bcf41937.e1f148","type":"function","z":"593bc01e.e320e","name":"","func":"var fields = {}\nmsg.payload = [fields];\nmsg.payload[0].steps0i = 0;\nmsg.payload[0].steps1i = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1100,"wires":[["58e2c42a.adc75c","df2cc1df.5fc08"]]},{"id":"2a8c9b1.372b964","type":"mqtt in","z":"593bc01e.e320e","name":"","topic":"pi2nred/nredZCMD/resetstepgauge","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":240,"y":1100,"wires":[["bcf41937.e1f148"]]},{"id":"9876244c.bce198","type":"mqtt in","z":"593bc01e.e320e","name":"","topic":"pi2nred/stepperZDATA/motordata","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":230,"y":1000,"wires":[["68516b14.854f44"]]},{"id":"b1192ebe.7b4f1","type":"ui_button","z":"593bc01e.e320e","name":"RPi Half START","group":"d6c82fab.cd2ab","order":9,"width":2,"height":1,"passthru":false,"label":"START(H)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"halfstepstart","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":460,"wires":[["704c760c.65f118"]]},{"id":"a6f1485f.8faa58","type":"ui_button","z":"593bc01e.e320e","name":"RPi Full START","group":"d6c82fab.cd2ab","order":10,"width":2,"height":1,"passthru":false,"label":"START(F)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fullstepstart","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":500,"wires":[["704c760c.65f118"]]},{"id":"669b72e3.7fa43c","type":"ui_button","z":"593bc01e.e320e","name":"RPi Half START sync","group":"d6c82fab.cd2ab","order":7,"width":2,"height":1,"passthru":false,"label":"START(H)-S","tooltip":"","color":"","bgcolor":"","icon":"","payload":"halfstepstartsync","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":540,"wires":[["704c760c.65f118"]]},{"id":"88ec0291.83c4","type":"ui_button","z":"593bc01e.e320e","name":"RPi Full START sync","group":"d6c82fab.cd2ab","order":8,"width":2,"height":1,"passthru":false,"label":"START(F)-S","tooltip":"","color":"","bgcolor":"","icon":"","payload":"fullstepstartsync","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":580,"wires":[["704c760c.65f118"]]},{"id":"59ec8fc4.cf26e","type":"change","z":"593bc01e.e320e","name":"Set addtnl full step delay","rules":[{"t":"set","p":"m2delay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":80,"wires":[["caab891a.66bae8"]]},{"id":"525372f3.001c3c","type":"ui_numeric","z":"593bc01e.e320e","name":"RPi Fstep Delay (ms)","label":"(+Full)","tooltip":"","group":"d6c82fab.cd2ab","order":4,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":"0","max":"1.5","step":"0.05","x":520,"y":80,"wires":[["59ec8fc4.cf26e"]]},{"id":"4a111133.51542","type":"ui_numeric","z":"593bc01e.e320e","name":"RPi Delay (ms)","label":"Delay (ms)","tooltip":"","group":"d6c82fab.cd2ab","order":5,"width":8,"height":1,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":"0.1","max":"4","step":"0.05","x":640,"y":20,"wires":[["c0bb9ba6.eab978","17bac27c.5a8a1e"]]},{"id":"99e778cc.3918a8","type":"ui_chart","z":"593bc01e.e320e","name":"RPi main (ms)","group":"d6c82fab.cd2ab","order":15,"width":8,"height":3,"label":"RPi Entire Loop (ms)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loop time (ms)","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":920,"wires":[[]]},{"id":"4ce1e1ea.e2764","type":"change","z":"593bc01e.e320e","name":"payload[0].main_msf","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].main_msf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":920,"wires":[["99e778cc.3918a8"]]},{"id":"349512a4.52909e","type":"ui_group","name":"RPi M1","tab":"12ee3069.5df0a","order":3,"disp":true,"width":"6","collapse":false},{"id":"d6c82fab.cd2ab","type":"ui_group","name":"Global","tab":"12ee3069.5df0a","order":1,"disp":true,"width":8,"collapse":false},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2911d465.c81c6c","type":"ui_group","name":"RPi M2","tab":"12ee3069.5df0a","order":4,"disp":true,"width":"6","collapse":false},{"id":"3e3327aa.370598","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"rpimonitor","name":"","usetls":false,"tls":"5a1ed586.fc57cc","influxdbVersion":"1.8-flux","url":"http://localhost:8086/","rejectUnauthorized":true},{"id":"12ee3069.5df0a","type":"ui_tab","name":"Stepper Motor","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"5a1ed586.fc57cc","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]
