node-red/RPiflow
[{"id":"593bc01e.e320e","type":"tab","label":"Stepper-Motor","disabled":false,"info":""},{"id":"3e862530.cbf35a","type":"ui_slider","z":"593bc01e.e320e","name":"Angle 0-360","label":"Angle 0-360","tooltip":"","group":"349512a4.52909e","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"0","max":"360","step":1,"x":410,"y":340,"wires":[["83aa00cf.7312e"]]},{"id":"ecc32b51.799978","type":"ui_numeric","z":"593bc01e.e320e","name":"Steps","label":"1/2 Steps (0-4076)","tooltip":"","group":"349512a4.52909e","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":0,"max":"4076","step":"1","x":690,"y":340,"wires":[["3521746c.585a5c"]]},{"id":"58e5f0b3.84f35","type":"ui_dropdown","z":"593bc01e.e320e","name":"Mode","label":"Mode","tooltip":"","place":"Continuous","group":"349512a4.52909e","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Continuous","value":0,"type":"num"},{"label":"Increment","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":450,"y":260,"wires":[["b2d7fddf.1472b"]]},{"id":"5d39e8f6.ead348","type":"ui_dropdown","z":"593bc01e.e320e","name":"Speed(CW/CCW)","label":"Speed(CW/CCW)","tooltip":"","place":"","group":"349512a4.52909e","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Full (CW)","value":4,"type":"num"},{"label":"Half (CW)","value":3,"type":"num"},{"label":"Stop","value":2,"type":"num"},{"label":"Half (CCW)","value":1,"type":"num"},{"label":"Full (CCW)","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":430,"y":180,"wires":[["9e005b8f.2e5df8"]]},{"id":"2018f2c5.76420e","type":"ui_numeric","z":"593bc01e.e320e","name":"Delay (ms)","label":"Delay (ms)","tooltip":"","group":"d6c82fab.cd2ab","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":"0.1","max":"10","step":"0.1","x":630,"y":60,"wires":[["c0bb9ba6.eab978","17bac27c.5a8a1e"]]},{"id":"17bac27c.5a8a1e","type":"ui_slider","z":"593bc01e.e320e","name":"Delay (ms)","label":"Delay (ms)","tooltip":"","group":"d6c82fab.cd2ab","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"0.1","max":"10","step":"0.1","x":470,"y":60,"wires":[["2018f2c5.76420e"]]},{"id":"3d2a0a1f.0a06b6","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"pi/stepper","qos":"","retain":"","broker":"784f4d53.206ce4","x":1080,"y":240,"wires":[]},{"id":"3521746c.585a5c","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m1step","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":340,"wires":[["caab891a.66bae8"]]},{"id":"caab891a.66bae8","type":"function","z":"593bc01e.e320e","name":"","func":"var m1speed = flow.get('m1speed')  // use format below since js defines 0 as falsy\nvar m2speed = flow.get('m2speed')  // Otherwise when a 0 is sent it will revert to default value\nvar m1mode = flow.get('m1mode')\nvar m2mode = flow.get('m2mode')\nvar m1step = flow.get('m1step')\nvar m2step = flow.get('m2step')\nvar m1delay = flow.get('m1delay')\nvar m2delay = flow.get('m2delay')\nvar m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\nvar m1startstep = 0   // set to 0 for default so it doesn't try stepping\nvar m2startstep = 0\n\nif (typeof m1speed == \"undefined\") \nm1speed = 2;\nif (typeof m2speed == \"undefined\")\nm2speed = 2;\nif (typeof m1mode == \"undefined\")\nm1mode = 0;\nif (typeof m2mode == \"undefined\")\nm2mode = 0;\nif (typeof m1step == \"undefined\")\nm1step = 2038;\nif (typeof m2step == \"undefined\")\nm2step = 2038;\nif (typeof m1delay == \"undefined\")\nm1delay = 1.6;\nif (typeof m2delay == \"undefined\")\nm2delay = 1.6;\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\n\nvar fields = {\n    delay:[m1delay, m2delay],\n    speed:[m1speed, m2speed],\n    mode:[m1mode, m2mode],\n    step:[m1step, m2step],\n    inverse:[m1inverse, m2inverse],\n    startstep:[m1startstep, m2startstep]\n};\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":240,"wires":[["3d2a0a1f.0a06b6"]]},{"id":"c0bb9ba6.eab978","type":"change","z":"593bc01e.e320e","name":"Set Global delay","rules":[{"t":"set","p":"m1delay","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"m2delay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":60,"wires":[["caab891a.66bae8"]]},{"id":"2cf46c72.ea86e4","type":"inject","z":"593bc01e.e320e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pi/stepper","payload":"1","payloadType":"num","x":310,"y":60,"wires":[["17bac27c.5a8a1e"]]},{"id":"9e005b8f.2e5df8","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m1speed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":180,"wires":[["caab891a.66bae8"]]},{"id":"b2d7fddf.1472b","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m1mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":260,"wires":[["caab891a.66bae8"]]},{"id":"fad5a171.1dda7","type":"ui_button","z":"593bc01e.e320e","name":"","group":"349512a4.52909e","order":7,"width":0,"height":0,"passthru":false,"label":"Step","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":620,"wires":[["215fa830.df4b48"]]},{"id":"215fa830.df4b48","type":"change","z":"593bc01e.e320e","name":"set flow.m1startstsep","rules":[{"t":"set","p":"m1startstep","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m1startstsep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":620,"wires":[["e28093ce.7b7f8"]]},{"id":"303a6251.bffd5e","type":"ui_slider","z":"593bc01e.e320e","name":"Angle 0-360","label":"Angle 0-360","tooltip":"","group":"2911d465.c81c6c","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","topicType":"str","min":"0","max":"360","step":1,"x":410,"y":380,"wires":[["75dacaf4.892254"]]},{"id":"4d21f126.cbf1","type":"ui_numeric","z":"593bc01e.e320e","name":"Steps","label":"1/2 Steps (0-4076)","tooltip":"","group":"2911d465.c81c6c","order":6,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":0,"max":"4076","step":"1","x":690,"y":380,"wires":[["f7f8582a.bcd218"]]},{"id":"d9e7bb4a.1e4588","type":"ui_dropdown","z":"593bc01e.e320e","name":"Mode","label":"Mode","tooltip":"","place":"Continuous","group":"2911d465.c81c6c","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Continuous","value":0,"type":"num"},{"label":"Increment","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":450,"y":460,"wires":[["6b162a20.815f74"]]},{"id":"809aa629.38b178","type":"ui_dropdown","z":"593bc01e.e320e","name":"Speed(CW/CCW)","label":"Speed(CW/CCW)","tooltip":"","place":"","group":"2911d465.c81c6c","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Full (CW)","value":4,"type":"num"},{"label":"Half (CW)","value":3,"type":"num"},{"label":"Stop","value":2,"type":"num"},{"label":"Half (CCW)","value":1,"type":"num"},{"label":"Full (CCW)","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","x":450,"y":540,"wires":[["14a95466.85325c"]]},{"id":"f7f8582a.bcd218","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m2step","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":380,"wires":[["caab891a.66bae8"]]},{"id":"14a95466.85325c","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m2speed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":540,"wires":[["caab891a.66bae8"]]},{"id":"6b162a20.815f74","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m2mode","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[["caab891a.66bae8"]]},{"id":"652f7c35.bb4b94","type":"ui_button","z":"593bc01e.e320e","name":"","group":"2911d465.c81c6c","order":7,"width":0,"height":0,"passthru":false,"label":"Step","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":700,"wires":[["1336323b.0b8fee"]]},{"id":"1336323b.0b8fee","type":"change","z":"593bc01e.e320e","name":"set flow.m2startstep","rules":[{"t":"set","p":"m2startstep","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m2startstep","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":700,"wires":[["8be4d580.a45c58"]]},{"id":"83aa00cf.7312e","type":"range","z":"593bc01e.e320e","minin":"0","maxin":"360","minout":"0","maxout":"4076","action":"scale","round":true,"property":"payload","name":"","x":560,"y":340,"wires":[["ecc32b51.799978"]]},{"id":"75dacaf4.892254","type":"range","z":"593bc01e.e320e","minin":"0","maxin":"360","minout":"0","maxout":"4076","action":"scale","round":true,"property":"payload","name":"","x":560,"y":380,"wires":[["4d21f126.cbf1"]]},{"id":"c9baf555.ce68a8","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"pi/stepper","qos":"","retain":"","broker":"784f4d53.206ce4","x":1060,"y":700,"wires":[]},{"id":"8be4d580.a45c58","type":"function","z":"593bc01e.e320e","name":"","func":"var m1speed = flow.get('m1speed')  // use format below since js defines 0 as falsy\nvar m2speed = flow.get('m2speed')  // Otherwise when a 0 is sent it will revert to default value\nvar m1mode = flow.get('m1mode')    // instead of intended value of 0\nvar m2mode = flow.get('m2mode')\nvar m1step = flow.get('m1step')\nvar m2step = flow.get('m2step')\nvar m1delay = flow.get('m1delay')\nvar m2delay = flow.get('m2delay')\nvar m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\nvar m1startstep = 0\nvar m2startstep = flow.get('m2startstep')\n\nif (typeof m1speed == \"undefined\") \nm1speed = 2;\nif (typeof m2speed == \"undefined\")\nm2speed = 2;\nif (typeof m1mode == \"undefined\")\nm1mode = 0;\nif (typeof m2mode == \"undefined\")\nm2mode = 0;\nif (typeof m1step == \"undefined\")\nm1step = 2038;\nif (typeof m2step == \"undefined\")\nm2step = 2038;\nif (typeof m1delay == \"undefined\")\nm1delay = 1.6;\nif (typeof m2delay == \"undefined\")\nm2delay = 1.6;\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\nif (typeof m2startstep == \"undefined\")\nm2startstep = 0;\n\nvar fields = {\n    delay:[m1delay, m2delay],\n    speed:[m1speed, m2speed],\n    mode:[m1mode, m2mode],\n    step:[m1step, m2step],\n    inverse:[m1inverse, m2inverse],\n    startstep:[m1startstep, m2startstep]\n};\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":700,"wires":[["c9baf555.ce68a8"]]},{"id":"7af0b559.73f4ec","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"pi/stepper","qos":"","retain":"","broker":"784f4d53.206ce4","x":1060,"y":620,"wires":[]},{"id":"e28093ce.7b7f8","type":"function","z":"593bc01e.e320e","name":"","func":"var m1speed = flow.get('m1speed')  // use format below since js defines 0 as falsy\nvar m2speed = flow.get('m2speed')  // Otherwise when a 0 is sent it will revert to default value\nvar m1mode = flow.get('m1mode')    // instead of intended value of 0\nvar m2mode = flow.get('m2mode')\nvar m1step = flow.get('m1step')\nvar m2step = flow.get('m2step')\nvar m1delay = flow.get('m1delay')\nvar m2delay = flow.get('m2delay')\nvar m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\nvar m1startstep = flow.get('m1startstep')\nvar m2startstep = 0\n\nif (typeof m1speed == \"undefined\") \nm1speed = 2;\nif (typeof m2speed == \"undefined\")\nm2speed = 2;\nif (typeof m1mode == \"undefined\")\nm1mode = 0;\nif (typeof m2mode == \"undefined\")\nm2mode = 0;\nif (typeof m1step == \"undefined\")\nm1step = 2038;\nif (typeof m2step == \"undefined\")\nm2step = 2038;\nif (typeof m1delay == \"undefined\")\nm1delay = 1.6;\nif (typeof m2delay == \"undefined\")\nm2delay = 1.6;\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\nif (typeof m1startstep == \"undefined\")\nm1startstep = 0;\n\n\nvar fields = {\n    delay:[m1delay, m2delay],\n    speed:[m1speed, m2speed],\n    mode:[m1mode, m2mode],\n    step:[m1step, m2step],\n    inverse:[m1inverse, m2inverse],\n    startstep:[m1startstep, m2startstep]\n};\n\nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":620,"wires":[["7af0b559.73f4ec"]]},{"id":"bf548f70.f5c27","type":"ui_button","z":"593bc01e.e320e","name":"","group":"d6c82fab.cd2ab","order":2,"width":0,"height":0,"passthru":false,"label":"ALL STOP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":300,"wires":[["704c760c.65f118"]]},{"id":"704c760c.65f118","type":"function","z":"593bc01e.e320e","name":"","func":"var speed = 2;\nvar mode = 0;\nvar angle = 180;\nvar delay = 1.6;\nvar m1inverse = false;\nvar m2inverse = true;\nvar msgspeed = {payload:speed};\nvar msgmode  = {payload:mode};\nvar msgangle = {payload:angle};\nvar msgm1inverse = {payload:m1inverse};\nvar msgm2inverse = {payload:m2inverse};\n\nif (msg.payload == \"stop\") {\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }\nif (msg.payload == \"start\") {\n    speed = 3;\n    msgspeed = {payload:speed};\n    return [msgspeed, msgmode, msgangle, msgm1inverse, msgm2inverse];\n    }","outputs":5,"noerr":0,"initialize":"","finalize":"","x":220,"y":380,"wires":[["5d39e8f6.ead348","809aa629.38b178"],["58e5f0b3.84f35","d9e7bb4a.1e4588"],["3e862530.cbf35a","303a6251.bffd5e"],["5ed4d364.f4d1ec"],["8ba582a.f08ca8"]]},{"id":"f9c724e8.d18a78","type":"ui_button","z":"593bc01e.e320e","name":"","group":"d6c82fab.cd2ab","order":2,"width":0,"height":0,"passthru":false,"label":"ALL START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"start","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":460,"wires":[["704c760c.65f118"]]},{"id":"54d717dd.1fff68","type":"mqtt in","z":"593bc01e.e320e","name":"","topic":"pi/stepper/status","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":420,"y":920,"wires":[["ea657bc9.906038"]]},{"id":"863b85e9.599368","type":"ui_gauge","z":"593bc01e.e320e","name":"","group":"349512a4.52909e","order":8,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"degrees°","format":"{{payload.stepsi | number:0}}","min":"0","max":"360","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":850,"y":920,"wires":[]},{"id":"ea657bc9.906038","type":"function","z":"593bc01e.e320e","name":"parse MQTT JSON str","func":"var pTopic  = msg.topic.split(\"/\");\nvar jsonObj   =JSON.parse(msg.payload);\nvar fields = {};\nfor(var item in jsonObj){\n    if (item.endsWith('f')) {\n        fields[item] = parseFloat(jsonObj[item]);\n    }\n    if (item.endsWith('i')) {\n        fields[item] = parseInt(jsonObj[item]);\n    }\n}\n // use value map function to convert steps to 0-360 degrees\n // converted = ostart + (ostop - ostart) * ((value - istart) / (istop - istart))\nfields['stepsi'] = Math.abs(0 + (360 - 0) * ((fields.stepsi - 0)/(4076 - 0)))\n\nmsg.payload = fields;\n\nif (fields['motori'] == 0)\n    return [msg, null];\nif (fields['motori'] == 1)\n    return [null, msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":620,"y":920,"wires":[["863b85e9.599368"],["1ee35e13.6954c2"]]},{"id":"1ee35e13.6954c2","type":"ui_gauge","z":"593bc01e.e320e","name":"","group":"2911d465.c81c6c","order":8,"width":0,"height":0,"gtype":"compass","title":"gauge","label":"degrees°","format":"{{payload.stepsi | number:0}}","min":"0","max":"360","colors":["#00b500","#00b500","#00b500"],"seg1":"","seg2":"","x":850,"y":960,"wires":[]},{"id":"addf1037.6c0ae","type":"ui_dropdown","z":"593bc01e.e320e","name":"Status Increment","label":"Status Increment","tooltip":"","place":"Select option","group":"349512a4.52909e","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"300/600 msg/rev","value":7,"type":"num"},{"label":"21/43 msg/rev","value":"97","type":"str"},{"label":"7/15 msg/rev","value":291,"type":"num"},{"label":"Small Increments Only (1k+ msg/rev)","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":190,"y":780,"wires":[["20177bb0.127d54"]]},{"id":"4ccc80c6.9c9f2","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"pi/stepper/interval","qos":"","retain":"","broker":"784f4d53.206ce4","x":810,"y":800,"wires":[]},{"id":"20177bb0.127d54","type":"change","z":"593bc01e.e320e","name":"m1 step status increment","rules":[{"t":"set","p":"m1intv","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m1intv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":780,"wires":[["e8cf5d0d.730a6"]]},{"id":"e8cf5d0d.730a6","type":"function","z":"593bc01e.e320e","name":"","func":"var m1intv = flow.get('m1intv') || 254;\nvar m2intv = flow.get('m2intv') || 254;\nvar fields = [m1intv,m2intv];\n    \nmsg.payload = fields;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":800,"wires":[["4ccc80c6.9c9f2"]]},{"id":"681b8590.a19b8c","type":"change","z":"593bc01e.e320e","name":"m2 step status increment","rules":[{"t":"set","p":"m2intv","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"m2intv","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":820,"wires":[["e8cf5d0d.730a6"]]},{"id":"d84cacbc.ff608","type":"ui_dropdown","z":"593bc01e.e320e","name":"Status Increment","label":"Status Increment","tooltip":"","place":"Select option","group":"2911d465.c81c6c","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"300/600 msg/rev","value":7,"type":"num"},{"label":"21/43 msg/rev","value":"97","type":"str"},{"label":"7/15 msg/rev","value":291,"type":"num"},{"label":"Small Increments Only (1k+ msg/rev)","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":190,"y":820,"wires":[["681b8590.a19b8c"]]},{"id":"a0e3ba08.a04a48","type":"ui_button","z":"593bc01e.e320e","name":"","group":"d6c82fab.cd2ab","order":2,"width":0,"height":0,"passthru":false,"label":"Reset Step Counters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"resets","topicType":"str","x":780,"y":860,"wires":[["b133b9fa.b36c38"]]},{"id":"b133b9fa.b36c38","type":"mqtt out","z":"593bc01e.e320e","name":"","topic":"pi/stepper/stepreset","qos":"","retain":"","broker":"784f4d53.206ce4","x":1010,"y":860,"wires":[]},{"id":"bd2d016.02dac","type":"mqtt in","z":"593bc01e.e320e","name":"","topic":"pi/stepper/resetgauge","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":400,"y":980,"wires":[["1c1055da.c7f47a"]]},{"id":"1c1055da.c7f47a","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"payload[stepsi]","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":980,"wires":[["863b85e9.599368","1ee35e13.6954c2"]]},{"id":"5ed4d364.f4d1ec","type":"ui_dropdown","z":"593bc01e.e320e","name":"Inverse Rotation","label":"Inverse Rotation","tooltip":"","place":"Continuous","group":"349512a4.52909e","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Normal","value":false,"type":"bool"},{"label":"Inverse","value":true,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":460,"y":300,"wires":[["8878b969.12db08"]]},{"id":"8878b969.12db08","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m1inverse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["caab891a.66bae8"]]},{"id":"9c37211e.4d57b","type":"change","z":"593bc01e.e320e","name":"","rules":[{"t":"set","p":"m2inverse","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":420,"wires":[["caab891a.66bae8"]]},{"id":"8ba582a.f08ca8","type":"ui_dropdown","z":"593bc01e.e320e","name":"Inverse Rotation","label":"Inverse Rotation","tooltip":"","place":"Continuous","group":"2911d465.c81c6c","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Normal","value":false,"type":"bool"},{"label":"Inverse","value":true,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":460,"y":420,"wires":[["9c37211e.4d57b"]]},{"id":"1cbd682.2066198","type":"inject","z":"593bc01e.e320e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pi/stepper","payload":"1","payloadType":"num","x":310,"y":120,"wires":[["c28b8cb5.cb3ac"]]},{"id":"c28b8cb5.cb3ac","type":"ui_button","z":"593bc01e.e320e","name":"","group":"d6c82fab.cd2ab","order":7,"width":0,"height":0,"passthru":false,"label":"Inverse m1/m2 rot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":120,"wires":[["64d64538.27c42c"]]},{"id":"64d64538.27c42c","type":"function","z":"593bc01e.e320e","name":"","func":"var m1inverse = flow.get('m1inverse')\nvar m2inverse = flow.get('m2inverse')\n\nif (typeof m1inverse == \"undefined\")\nm1inverse = false;\nif (typeof m2inverse == \"undefined\")\nm2inverse = true;\n\nflow.set(\"m1inverse\", !m1inverse)\nflow.set(\"m2inverse\", !m2inverse)\n\n// other methods if using a number\n//v = (v ? 0 : 1);\n//v = 1 - v;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":120,"wires":[["caab891a.66bae8"]]},{"id":"349512a4.52909e","type":"ui_group","name":"RPi M1","tab":"12ee3069.5df0a","order":2,"disp":true,"width":"6","collapse":false},{"id":"d6c82fab.cd2ab","type":"ui_group","name":"RPi Global","tab":"12ee3069.5df0a","order":1,"disp":true,"width":"6","collapse":false},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2911d465.c81c6c","type":"ui_group","name":"RPi M2","tab":"12ee3069.5df0a","order":3,"disp":true,"width":"6","collapse":false},{"id":"12ee3069.5df0a","type":"ui_tab","name":"Stepper Motor","icon":"dashboard","order":11,"disabled":false,"hidden":false}]